<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/main.js"></script>
</head>

<body>


    <!-- adding header partials -->
    {{>header}}


    <div class="container-fluid bg-secondary d-block h-100 p-5 text-center">
        <div class="bg-light p-5 m-5 d-inline-block ">
            <h1 class="text-primary text-center">{{heading}}</h1>
            <h2 class="text-primary text-center ">{{message}}</h2>
        </div>

    </div>


    <!-- adding footer partials-->
    {{>footer}}


</body>

</html>