<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/main.js"></script>
</head>

<body>

    <!-- adding header partials -->
    {{>header}}


    <div class="container-fluid bg-secondary d-block h-100 p-5">
        <div class="bg-light p-5 m-5">
            <h1 class="text-primary">{{heading}}</h1>

            <div class="row">
                <div class="col-md-9">
                    <h5 class="text-danger">Developer : {{author}}</h5>
                    <p class="text-secondary">Hii there!!</p>
                    <p class="text-secondary">This is my first node app on heroku. This is weather application which
                        takes information from <kbd>mapbox.net</kbd> and <kbd>darksky.net</kbd> It takes address from
                        user
                        which is converted in to <kbd>latitude</kbd> and <kbd>longitude</kbd> by <code>mapbox.net</code>
                        and passed as input to the <code>darksky.net</code> which returns current weather
                        at that
                        location.
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="img">
                        <img src="img/sk_zoo.jpg" class="img-fluid img-thumbnail" alt="" style="width:200px">
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- adding footer partials-->
    {{>footer}}
</body>

</html>