<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/main.js"></script>
</head>

<body>

    <!-- adding header partials -->
    {{>header}}


    <div class="container-fluid bg-secondary d-block h-100 p-5">
        <div class="bg-light p-5 m-5">
            <h1 class="text-primary">{{heading}}</h1>
            <p class="text-sm text-danger">Written By : {{author}}</p>
            <p class="text-success text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa
                assumenda
                recusandae obcaecati nobis modi numquam, commodi atque. Facere vel quasi possimus aliquid minus odit
                modi aspernatur esse magni, saepe eaque cupiditate molestias facilis nemo. Quos alias nulla quae dicta,
                perferendis maiores consectetur architecto nesciunt corrupti vel error neque in delectus magni doloribus
                vitae accusamus quisquam ipsum modi debitis incidunt. Vero facilis voluptatibus maxime, nisi quidem
                fugiat fugit reprehenderit similique ipsam ea incidunt officia eaque placeat amet itaque dolores modi ex
                sapiente dignissimos magni eligendi nostrum inventore. Repellendus nihil nobis, optio, fugit ad
                laboriosam excepturi sunt voluptatum, molestias esse odio!</p>
        </div>

    </div>


    <!-- adding footer partials-->
    {{>footer}}
</body>

</html>